.customer__container{
    padding: 1rem;
}
.search__input__container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
.search__input__container .input__group{
    background-color: white;
    border: .2rem solid var(--color__muted);
    outline: none;
    border-radius: var(--card__radius);
    padding: .2rem .4rem;
    display: flex;
    align-items: center;
    gap: .1rem;
    margin-right: 2rem;
    position: relative;
}
.search__input__container .input__group input{
    font-size: 1.2rem;
    border: none;
    padding: .2rem .4rem;
    outline: none;
}
.search__input__container .input__group svg{
    font-size: 1.3rem;
    color: var(--color__muted);
}
.customer__bottom{
    margin-top: 1.3rem;
}
.customer__table{
    margin-top: 1rem;
}
/* ===========================create__customer--container ================= */
.create__customer--container{
    display: grid;
    place-items: center;
    height:calc(100vh - 5rem);
    box-sizing: border-box;
}
.create__customer--form{
    background: white;
    border-radius: var(--card__radius);
    box-shadow: var(--card__shadow);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3.5rem 2rem;
    width: 30%;
}
.create__customer--form input{
    outline: none;
    font-size: 1.2rem;
    padding: .4rem .6rem;
    width: 100%;
    border-radius: var(--card__radius);
}
.create__customer--form button{
    background: orange;
    color: black;
    border-radius: var(--card__radius);
    padding: .4rem .2rem;
    font-size: 1.4rem;
    outline: none;
    cursor: pointer;
    transition: all .2s ease;
}
.create__customer--form button:hover{
    border: .1rem solid orange;
    background: white;
}
.form__top{
    font-size: 2rem;
    color: black;
}
.create__customer--form .input__group{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    align-items: flex-start;
}

.create__customer--form .input__group span{
    font-size: 1.5rem;
    color: var(--color__muted);
}
