.order__container{
    padding: 1rem;
}
.order__links--container{
    margin-top: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.order__links--list{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 10rem;
    height: 100%;
    border: .1rem  solid var(--color__muted);
    outline: none;
    box-shadow: var(--card__shadow);
    overflow: hidden;
    cursor: pointer;
}
.order__links--list a{
    font-size: 1.1rem;
    color: black;
    padding: .7rem ;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    width: 100%;
    height: 100%;
    border-right: .1rem solid var(--color__muted);
}
.order__links--list a:last-child{
    border-right: none;

}
.order__links--list a.active{
    background: linear-gradient(#e91e63,#673ab7);

}

.orderlist__container{
    padding: 1rem;
}
.orders__details--top{
    background: white;
    padding: 1rem;
    border-radius: var(--card__radius);
    box-shadow: var(--card__shadow);

}
.orders__details--bottom{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.orders__details--group{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.orders__details--group span, .orders__details--group h3{
    font-size: 1.2rem ;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
/* styles for the items ordered page */
.items__ordered--container{
    padding: 1rem;
}
.orders__details--top--group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order__action__links--group{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.4rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    padding: 1rem;
    color: black;
}
.order__btn{
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    gap: .7rem;
    align-items: center;
    padding: .4rem 1.2rem;
    border-radius: var(--card__radius);
    transition: all .4s ease;

}
.order__action__links--group a:first-of-type{
    color: green;
    background: #b6f1b3;
    border: .1rem solid green;
}

.order__action__links--group a:first-of-type:hover{
    background: green;
    color: #b6f1b3;
}


.order__action__links--group a:last-of-type{
    color: #c7585a;
    background: transparent;
    border: .1rem solid #c7585a;
}

.order__action__links--group a:last-of-type:hover{
    color: #fff;
    background: #c7585a;
    border-color: #c7585a;
}

.order__detail--completed{
    color: green;
    background: #b6f1b3;
    border: .1rem solid green;

}
.order__detail--cancel{
    color: #c7585a;
    background: transparent;
    border: .1rem solid #c7585a;
}

.items__order__detail h3{
    color: var(--color__muted);
}
.items__order--bottom{
    margin-top: .5rem;
}


.create__payment--container{
    display: grid;
    place-items: center;
    height: calc(100vh - 9vh);

}
.create_payment{
    background: #FCFFE7;
    border-radius: var(--card__radius);
    box-shadow: var(--card__shadow);
    padding: 4rem 1rem 2rem 1rem;
}
.create__payment--top{
    font-size: 1.2rem;
    color: #2B3467;
    font-weight: 400;
    padding-bottom: 1rem;
    border-bottom: .1rem solid var(--color__muted);
}
.create__payment--detail--group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    gap: .3rem;
    margin: 1rem 0 1rem 0;
}
.create__payment--detail--group.total span{
    font-size: 1.3rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;

}
.create__payment--detail--group.total{
    padding-top: 1rem;
    border-top: .1rem solid #2B3467;
    color: #EB455F;

}
.payment__method--title {
    font-size: 1.3rem;
    color: #2B3467;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 1.3rem;
    text-align: center;
}
.input__group{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.input__group .input__label--group{
    background: #F1F6F5 ;
    border: .1rem solid #BAD7E9;
    overflow: hidden;
    border-radius: var(--card__radius);
    font-size: 1.2rem;
    transition: all .2s ease;
    margin-bottom: 1rem;
}
.input__group .input__label--group:hover{
    background: #BAD7E9 ;
    border: .1rem solid #2B3467;
}
.input__group .input__label--group label{
    display: block;
    padding: 1.3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2B3467;
    font-size: 1.4rem;
    gap: .6rem;

}
input[name="method_name"]{
    display: none;
}
input[name="method_name"]:checked + label{
    background: #2B3467;
    color: white;

}
.create__btn{
    padding: 1rem 0;
    text-align: center;
}

button.compete__pay--btn{
    padding: 1rem 1.8rem;
    font-size: 1.4rem;
    color: green;
    background: #b6f1b3;
    border: .1rem solid green;
    margin: 0 auto;
}
button.compete__pay--btn:hover{
    background: green;
    color: #b6f1b3;
}

